/* estilos generales */
*{
    font-family: "Poppins", sans-serif;
}

ul{
    list-style: none;
}

.pagina-anime{
     font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.presentacion-pagina{
     font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* estilos header */

.index-header{
background-size: cover;
background-repeat: no-repeat;
height: 95px;

}
.banner-principal{
  background-image: url(../imagenes/anime_banner.jpg);

}
.texto-banner{
  background-color: rgba(0, 0, 0, 0.6);
  color:rgb(255, 255, 255);
}
/*footer*/

.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 2 / 6; }
.div2 { grid-area: 2 / 1 / 3 / 4; }

