@use '../utilities/variables';
/* estilos header */

.index-header {
  background-size: cover;
  background-repeat: no-repeat;
  height: 95px;

}

.banner-principal {
  background-image: url(../imagenes/anime_banner.jpg);

}

.texto-banner {
  background-color: variables.$color-banner;
  color:  variables.$color-blanco;
}