/* estilos header */

.index-header {
  background-size: cover;
  background-repeat: no-repeat;
  height: 95px;

}

.banner-principal {
  background-image: url(../imagenes/anime_banner.jpg);

}

.texto-banner {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
}