/* estilos generales */


ul {
  list-style: none;
}

.pagina-anime {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.presentacion-pagina {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}