@use '../utilities/mixins';
@use '../utilities/variables';

/*main personajes*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
  color:  variables.$color-blanco;
}

.image-box img {
  max-width: 250px;
  height: auto;
}

.description-box {
  max-width: 500px;
}

.description-box h2 {
  margin-top: 0;
  font-size: 2rem;
}

.description-box p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.fullmetal:hover {
  @include mixins.cursor-custom('../imagenes/cursor-fma.png');
  
}

.super-campeones:hover {
   @include mixins.cursor-custom('../imagenes/atom-cursor.png');
  
  
}

.seiya:hover {
  @include mixins.cursor-custom('../imagenes/seya-cursor.png');
  
}

.naruto:hover {
  @include mixins.cursor-custom('../imagenes/naruto-cursor.png');
  

}

.goku:hover {
  @include mixins.cursor-custom('../imagenes/goku-cursor.png');

}



.goku {
  background-color: variables.$goku-color;
  ;
}

.naruto {
  background-color: variables.$naruto-color;
}


.seiya {
  background-color: variables.$seiya-color;
}


.super-campeones {
  background-color: variables.$campeones-color;
}


.fullmetal {
  background-color: variables.$fullmetal-color;
}

