$fuente: "Poppins", sans-serif;
$color-blanco: #fff;
$color-banner: rgba(0, 0, 0, 0.6); 

$goku-color: #f57c00;
$naruto-color: #f4a300;
$seiya-color: #1e3d59;
$campeones-color: #006400;
$fullmetal-color: #6c0e23;

$footer-base: #003249;
$footer-1: #9ad1d4;
$footer-2: #007ea7;
$footer-3: #ccdbdc;
